/*Change the background colour
Change the font
Center the title
Add a border to the image */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: cadetblue;
}

h1{
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-self: center;
}

p{
    text-align: center;
    padding: 5px;
}


li{
    padding: 4px;    
}

img{
    max-width: 500px;
    max-height: 500px;
    width: 80%;
    height: auto;
    box-shadow: 2px 2px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-self: center;
    border: 1px solid black;
    border-radius: 12px;
}

footer{
    opacity: 0.7;
    align-items: center;
    padding: 5px;
}

@media (min-width:600px) {

    ul {
        margin: auto;
        align-items: center;
        display: flex;
    }

    li{
        margin: auto;
    }

    p,
    h1{
        display: flex;
        justify-self: center;
        text-align: center;
    }
}